/* mobile */
.conteiner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

/* only mobile */
@media(max-width:767px) {
    .social {
        flex-direction: column;
    }
    .photography {
        flex-direction: column;
    }

}

/* tablet */
@media (min-width:768px) {
    .conteiner {
        max-width: 720px;
    }
    .col-sm-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-sm-7 {
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-2 {
        flex:0 0 20%;
        max-width: 20%;
    }
    .col-sm-5 {
        flex: 0 0 41.66665%;
        max-width: 41.66665%;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-12 {
        flex:0 0 100%;
        max-width: 100%;
    }
}
/* laptop */
@media (min-width:992px) {
    .conteiner {
        max-width: 960px;
    }
    .col-md-3 {
        flex:0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* desktop */
@media (min-width:1200px) {
    .conteiner {
        max-width: 1170px;
    }
}